# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
**/lambda-function/.build/*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Local env files
*.tfvars.local
.env

# OS
.DS_Store
Thumbs.db
